.languages {
	
	#lang_sel_list {
		height: auto;
		padding: 0;
		border: none;
		
		ul {
			border-top: none;
			
			li {
				float: left;
				
				a.lang_sel_sel {
					text-decoration: underline !important;
				}
			}
		}
	}
}